<nav id="taxonomy_cat_2" class="sidebar-item" data-hook>
  <% get_taxonomies.each do |taxonomy| %>
  	<% if taxonomy.name == "Category_2" %>
	    <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
	<% end %>
  <% end %>
</nav>
