#header {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0;
  .header-strip {
    width: 90%;
    margin: 0 auto;
    &.top {
      #top-nav-bar {
        text-align: left;
        margin-left: 0;
        width: auto;
        ul {
          li {
            padding: 0 10px 0 0;
          }
        }
      }

    }
    &.main {
      padding: 10px 0;
      #logo {
        position: relative;
        width: 200px;
        margin: 0 auto -120px auto;
        float: none;
        display: block;
      }
      nav {
        text-align: center;
        ul {
          display: inline-block;
          li {
            float: right;
            margin: 0 0.5em;
            // background: #ddd;
            height: 80px;
            width: 100px;
            text-align: center;
            &.first-part-end{
              margin-left: 105px;
            }
            &.second-part-start{
              margin-right: 105px;
            }
            a {
              font-weight: bold;
              font-size: 12px;
              color: #555;
              img {
                border-radius: 16px;
                border-style: outset;
                border-width: 1px;
                box-shadow: 0 1px 10px lightCoral;
              }
            }
          }
        }
      }
    }
    &.bottom {
      nav {
        width: 100%;
        ul {
          li {
            &#link-to-cart {
              float: left;
            }
          }
        }
      }
    }
    &.category-2 {
      nav {
        width: 100%;
        text-align: center;
        ul.taxons-list {
          display: inline-block;
          li {
            float: right;
            margin: 0 0.5em;
            background: #ddd;
            text-align: center;
          }
        }
      }
    }
  }
}