html {
	body {
		font-family: tahoma, sans-serif;
		#main-container{
			width: 100%;
			#wrapper {
				overflow: hidden;
				#content {
					// background: green;
					float: right;
					width: 1000px;
					margin: 0px;
				}
			}
		}
	}
}
