.product-show {
	padding: 20px;
	div [itemprop="description"] {
		white-space: pre-line;
		margin-top: -15px;
	}
	#product-price {
		float: right;
	}
	.add-to-cart {
		float: right;
		margin: 30px 10px 0px 0px;
	}		
	#related-products {
		ul {
          	display: inline-block;
			li {
	            float: right;
	            margin: 0 0.5em;
	            text-align: center;
			}
		}
	}
}